<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.note"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        
        android:name="note.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="note.ui.login.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="note.ui.note.NoteActivity"
            android:label="Note" >
        </activity>
        <activity
            android:name="note.ui.note.ChengPasswordActivity"
            android:label="@string/action_changePassword" >
        </activity>
        <activity
            android:name="note.ui.note.NewNoteActivity"
            android:label="@string/action_addNoteIcon" >
        </activity>
        <activity
            android:name="note.ui.note.EditNoteActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>